h1{
    letter-spacing: 20px;
    background-color: crimson;
    border: 1px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#table{
    text-align: center;
    width: 70%;
    margin-left: 150px;
}
th,td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
