body{
background-color: rgb(255, 255, 255);
margin: 0;
padding:0;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#Head{
    text-align: center;
    font-size: 400%;
    font-weight: bold;
    letter-spacing: 10px;
    color: coral;
}
.About{
    text-align: center;
    background-color:aquamarine;
    border:1px solid black;
}
.Education{
    text-align: center;
    background-color:khaki;
    border:1px solid black;
    padding: 5px;
}

.Hobbies{
    text-align: center;
    background-color:rgb(249, 135, 247);
    border:1px solid black;

}
ul{
    text-align: justify;
    margin-left: 500px;
}

h2{
    letter-spacing: 20px;
}
table{
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
}
.row-border{
    border: 1px solid black;
}
.col-border{
    border: 1px solid black;
}
