a{
    display: inline-block;
    background-color: black;
    color: white;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
nav{
    text-align: center;
    background-color: rgb(249, 236, 93);
}
#home:hover{
    background-color:rgb(255, 36, 0);
    border-radius: 5px;
}
#about:hover{
    background-color:rgb(255, 36, 0);
    border-radius: 5px;
}
#services:hover{
    background-color:rgb(255, 36, 0);
    border-radius: 5px;
}
#gallery:hover{
    background-color:rgb(255, 36, 0);
    border-radius: 5px;
}
#contact:hover{
    background-color:rgb(255, 36, 0);
    border-radius: 5px;
}