h1{
    color: rgb(77, 71, 71);
    letter-spacing: 20px;
    text-align: center;
}
label{
    font-size: 20px;
}
select{
    padding: 10px;
    width: 200px;
}
input{
    padding: 10px;
    width: 200px;
}
div{
    margin-top: 10px;
    display: none;
}