div{
    position: sticky;
    top:0;
    border: 2px solid black;
    padding: 20px;
    margin: 0;
    background-color: rgb(241, 223, 24);
}
#name{
    font-size: 60px;
}
#link{
    margin-left: 550px;
    border: 1px solid black;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    color: white;

}
a{
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    color: white;
}
body{
    margin: 0;
    padding: 0;
}
p{
    text-align: justify;
}
a:hover{
    background-color: white;
    color: black;
}