body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6fc77;
}

header{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.pSec{
    width: 50%;
    margin: 30px auto;
    background-color: #ffffff;
    padding: 20px;
    border: 2px solid #000000;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.stImg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.bio {
    font-size: 1em;
    margin-top: 15px;

}

footer {
    text-align: center;
    margin-top: 30px;
    padding: 15px;
    background-color: #333;
    color: white;
}
