h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(253, 97, 128);
    letter-spacing: 30px;
    text-align: center;
}
#btn{
    border-color: cadetblue;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
}

#text{
    overflow: scroll;
    color: gray;
}