h1{
    text-align: center;
    background-color: red;
    color: black;
    letter-spacing: 20px;
}
img{
     width: 200px;
     height: 180px;
}
#laptop{
    display: inline-block;
    background-color: #FFF9E2;
    border: 2px solid black;
    width: 350px;
    text-align: center;
    padding: 5px;
}
.description{
    text-align: left;
}
.price{
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.buyNow{
    display: inline-block;
    border: 1px solid black;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);

}
a{
    text-decoration: none;
    color: white;
}
#laptop:hover{

    border: 4px solid rgb(31, 56, 239);
    width: 350px;
    padding: 5px;
}

#headphone{
    display: inline-block;
    background-color: #DCA278;
    border: 2px solid black;
    width: 350px;
    text-align: center;
    padding: 5px;
}

#headphone:hover{

    border: 4px solid rgb(31, 56, 239);
    width: 350px;
    padding: 5px;
}
#smartwatch{
    display: inline-block;
    background-color: #CDD4B1;
    border: 2px solid black;
    width: 350px;
    text-align: center;
    padding: 5px;
}

#smartwatch:hover{

    border: 4px solid rgb(31, 56, 239);
    width: 350px;
    padding: 5px;
}

body{
    text-align: center;
    background-color: rgb(138, 136, 113);
}